@model assignment_shop.Models.ProductCategory

@{
    ViewBag.Title = "Home Page";
}

<div style="margin-top: 24px">
    <div class="row">
        <div class="col-lg-3">
            <div class="input-group">
                <form method="post" style="display: contents">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Find!</button>
                    </span>
                    <input type="text" name="hidden" value="" hidden/>
                    <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Search for...">
                </form>
            </div>

            <div class="list-group" style="margin-top: 12px">
                <a href="#" class="list-group-item disabled">
                    Categories
                </a>
                @foreach (var item in Model.Categories)
                {
                    <a href="/?category=@Html.DisplayFor(modelItem => item.Id)">
                        <button type="button" class="list-group-item">
                            @Html.DisplayFor(modelItem => item.Name)
                        </button>
                    </a>
                }
            </div>
        </div>
        <div class="col-lg-9">
            <table class="table">
                <tr>
                    <th>Thumbnail</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>
                            <img src="@item.Thumbnail" style="width: 100px" alt="thumbnail" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.ActionLink("AddToCart", "Add", "Cart", new { productId = item.Id }, null)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


